.DS_Store
Home4All/.DS_Store
Home4All/.idea/
Home4All/home4all-backend/.DS_Store
Home4All/home4all-backend/lib/javaee.jar
Home4All/home4all-backend/src/.DS_Store
Home4All/home4all-backend/web/.DS_Store
Home4All/home4all-backend/web/WEB-INF/.DS_Store
VPP/.DS_Store
tags
Home4All/home4all-backend/.idea/
Home4All/home4all-backend/out/
Home4All/home4all-backend/home4all-backend.iml
